name: Release a new version

on:
  workflow_dispatch:

jobs:
  release:
    name: Release a new version
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: dart-lang/setup-dart@v1

      - name: Install gitflow-cjs
        run: curl -fsSlO https://raw.githubusercontent.com/CJ-Systems/gitflow-cjs/develop/contrib/gitflow-installer.sh && sudo bash gitflow-installer.sh install stable; rm gitflow-installer.sh

      - name: Install cider
        run: dart pub global activate cider

      - name: Release a new version
        run: make release
